# Abhängigkeiten
/node_modules

# Next.js Build-Artefakte
/.next/
/out/

# Produktions-Builds
/build

# Diverses
.DS_Store
*.pem

# Debug-Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lokale Umgebungsvariablen
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
